<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Conversations</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://kit.fontawesome.com/77de315972.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
         <!-- Side navigation -->
<div class="sidenav">
  <a href="#">Crossover</a>
  <a href="#">Crossover</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Micro</a>
  <a href="#">Sedan</a>
  <a href="#">Coupe</a>
  <a href="#">Pickup</a>
  <a href="#">Sport car</a>
  <a href="#">Crossover</a>
  <a href="#">SUV</a>
  <a href="#">Minivan</a>
  <a href="#">Muscle car</a>
  <a href="#">Minibus</a>
  <a href="#">Campervan</a>
  <a href="#">Hatchback</a>
  <a href="http://localhost:8080/conversations">Contact</a>
</div>
    <h1 style="padding-top: 130px; display: flex; justify-content: center;">Conversations</h1>
    <div class="conversations-box">
      <div id="conversations">
        <div id="buys">
          <h1>Buy Conversations</h1>
          <% for (let buy of buy_conversations) { %>
            <a href="/conversations/<%=buy.id%>" style="text-decoration: none; color: black"> <p><%= buy.name %> </p> </a>
          <% } %>
        </div>
        <div id="sells">
          <h1>Sell Conversations</h1>
          <% for (let sell of sell_conversations) { %>
            <a href="/conversations/<%=sell.id%>" style="text-decoration: none; color: black"> <p><%= sell.name %></p> </a>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
